@import url("./App.css");
/* Navbar */
.navbar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: fit-content;
  /* background-color: red;   */
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar ul{
  display: flex;
  font-family: var(--parisian);
  font-size: 2rem;
}
.navbar ul li{
  cursor: pointer;
  transition: 0.3s;
}
.background-fixed{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* height: 90px; */
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px); 
  -webkit-backdrop-filter: blur(20px);
  z-index: -1;
  animation: navbar 0.3s linear forwards;
}
@keyframes navbar {
  from{
    height: 0;
  }to{
    height: 90px;
  }
}
/* Hero Section */
.Hero-section{
  height: 600px;
  position: relative;

}
.Hero-section::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.512);

}
.Hero-section img{
  height: 100%;
  width: 100%;
  object-fit: cover;

}
.group{
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Categories */
.category{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card-cat{
  border: 1px solid var(--main-color);
  font-family: var(--parisian);
  font-size: var(--font-size-s);
  border-radius: 10px;
  animation: upDiv 0.5s linear forwards;
  text-transform: capitalize;
}
.cloudy-container{
  position: relative;
  margin-top: -40px;
  z-index: 2;
  width: 100%;
  height: 100px;
  background: radial-gradient(circle at 30% 30%, rgb(7 7 7), #000000 70%);
  filter: blur(20px);
  /* opacity: 0.4; */
  /* border-radius: 50%; */

}

@keyframes upDiv {
  from{
    transform: translateY(30px);
  }to{
    transform: translateY(0px);
  }
}

/* About  */
.about{
  display: flex;

}

.about img{
  border-radius: 10px;
  height: 100%;
  object-fit: cover;
}


/* Gallery Section */
.gallery{

}
.gallery img{
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
}

.grid-gal{
  display: flex;
}
.row-gal{
  display: flex;
  flex-direction: column;
}
.child-row-gal{
  display: flex;
}
.overlay-gallery{
  background-color: #000000d4;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay-gallery img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: overlayImg 0.3s linear forwards;
}
@keyframes overlayImg {
  from{
    transform: scale(0.2) rotate(-180deg);
  }to{
    transform: scale(1) rotate(0deg);
  }
}
.overlay-content{
  width: 70%;
}
.close-icon{
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 40;
  cursor: pointer;
}
.next-icon, .prev-icon{
  position: absolute;
  top: 50%;
  z-index: 18;
  cursor: pointer;
  transform: translateY(-50%);
}
.next-icon svg, .prev-icon svg{
  width: 25px;
}
.next-icon{
  right: 10px;
}
.prev-icon{
  left: 10px;
  transform: rotate(-180deg);
}










/* Heading */
.heading h3{
  font-family: var(--parisian);
  font-size: var(--font-size-s);
  text-transform: uppercase;
}
.heading h2{
  font-family: var(--mogen);
  font-size: var(--font-size-m);
  text-transform: capitalize;
}
.align{
  width: 50px;
  height: 3px;
  border-radius: 2px;
  background-color: var(--main-color);
}
.center-heading{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.last-arrow, .next-arrow{
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: var(--green-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}
.last-arrow:hover, .next-arrow:hover{
  background-color: var(--light-color);
}
.last-arrow:hover path, .next-arrow:hover path{
  fill: var(--green-color);
}
.last-arrow{
  transform: rotate(-180deg);
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after,.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
  display: none ;
}
/* Rooms */
.card img{
  width: 100%;
  border-radius: 8px;
}
.arrow-row{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 30;
  display: flex;
  justify-content: space-between;
  left: 0;
  right: 0;
}
.number-of-slide{
  font-size: var(--font-size-xxs);
  display: flex;
  justify-content: end;
}
.card h4{
  font-family: var(--parisian);
  font-size: var(--font-size-s);
}
.content{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.content span{
  color: var(--main-color);
  font-size: var(--font-size-xs);
  cursor: pointer;
}
.room-details{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  background-color: #000000e4;
  overflow-y: scroll;
}
.room-details::-webkit-scrollbar {
  display: none;
}
.content-room-details{
  display: flex;
  margin-top: 5%;
}
.content-room-details img{
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.title-icon{
  font-size: var(--font-size-xxs);
}
.content-room-details h2{
  font-family: var(--parisian);
  font-size: var(--font-size-m);
  color: var(--main-color);
}
.content-room-details p{
  font-size: var(--font-size-xs);
}
.room-hightlights{
  font-family: var(--parisian);
  font-size: var(--font-size-s);
  border-top: 1px solid var(--main-color);
}
.content-room-details span{
  margin-left: 10px;
  font-weight: 500;
  text-transform: capitalize;
}
.first-details{
  width: 50%;
}
/* Fill */
.fill{
  background: url("./assets/images/banner2.webp");
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.fill::before{
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.85) 40%, rgba(0, 0, 0, 0.3) 100%);
  z-index: 2;
}
.fill h3{
  font-family: var(--parisian);
  font-size: var(--font-size-m);
}
.fill h4{
  font-family: var(--mogen);
  font-size: var(--font-size-m);
}
.main-color{
  color: var(--main-color);
}

.line{
  position: absolute;
  height: 100%;
  width: 1px !important;
  z-index: 3;
  background-color: rgba(248, 246, 246, 0.373);
  animation: move 4s infinite linear;
}


@keyframes move {
    0% {
        transform: translate(-4px); /* Slight left movement */
    }
    50% {
        transform: translate(4px); /* Move right */
    }
    100% {
        transform: translate(-4px); /* Back to left */
    }
}
.container-fill{
  position: relative;
  overflow: hidden;

}
.fill-content{
  position: absolute;
  inset: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.resturant,.resturant-reverse{
  display: flex;
}
.resturant img, .resturant-reverse img{
  object-fit: contain;
}
.resturant h2, .resturant-reverse h2{
  font-family: var(--parisian);
  font-size: var(--font-size-l);
}
.explore{
  font-family: var(--parisian);
  color: var(--main-color);
  font-size: var(--font-size-s);
  text-transform: capitalize;
  transition: 0.3s;
  cursor: pointer;
  width: fit-content;
}
.explore path{
  fill:  var(--main-color);
}
.explore:hover{
  color: var(--light-color);
  gap:10px
}
.explore:hover path{
  fill:  var(--light-color);
}
/* Signature section */
.container-sign{
  display: flex;
}
.card-sign{
    width: 500px;
    height: 500px;
    position: relative;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: 100%;
    /* background-position: cover; */
    transition: 0.3s;
  
}
.card-sign::before{
  content: "";
  position: absolute;
  inset: 0;
  z-index: 2;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85) 40%, rgba(0, 0, 0, 0.3) 100%);
}
.content-sign{
  content: "";
  position: absolute;
  inset: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: end;
  overflow: hidden;
}
.content-sign h4{
  font-family: var(--mogen);
  color: var(--main-color);
  font-size: var(--font-size-m);
}
.content-sign ul{
  font-family: var(--parisian);
  font-size: var(--font-size-s);
}
.card-sign:has(.content-sign:hover) {
  transform: translateY(-30px);
}
/* Location */
.location{
  display: flex;
}
.location iframe{
  border-radius: 10px;
  width: 100%;
  height: 100%;
  min-height: 400px;
}
.location h4{
  font-family: var(--parisian);
  color: var(--main-color);
  font-size: var(--font-size-m);
  cursor: pointer;
  position: relative;

}
.location h4.active::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--main-color);
}
.location ul{
  font-size: var(--font-size-s);
  font-family: var(--parisian);
}


/* Footer */
footer{
  display: flex;
  font-family: var(--parisian);
  font-size: var(--font-size-m);
  overflow: hidden;
}
footer p{
  font-size: var(--font-size-s);
}
.final-footer{
  background-color: var(--main-color);
  color: var(--light-color);
  font-family: var(--parisian);
  font-size: var(--font-size-s);
  text-align: center;
}
.first-small, .small{
  display: none;
}
/* Button */
p{
  font-size: var(--font-size-xs);
}
button{
  background-color: var(--green-color );
  font-family: var(--parisian);
  font-size: 1.5rem;
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.3s;
  text-transform: capitalize;
  width: fit-content;
}
button:hover{
  background-color: var(--light-color );
  color: var(--green-color);
}

@media (max-width:1200px) {
  /* Heading */
  .heading h3{
    font-size: var(--font-size-xs);
  }
  .heading h2{
    font-size: var(--font-size-s);
  }
  p{
    font-size: var(--font-size-xxs);
  }
  /* Category */
  .card-cat{
    font-size: var(--font-size-xs);
  }
  .card-sign{
    height: 350px;
  }
  .content-sign h4{
    font-size: var(--font-size-s);
  }
  .content-sign ul{
    font-size: var(--font-size-xs);
  }
  /* Room */
  .content-room-details h2{
    font-size: var(--font-size-s);
  }
  .content-room-details p{
    font-size: var(--font-size-xxs);
  }
  .content-room-details .room-hightlights{
    font-size: var(--font-size-xs);
  }
  .content-room-details button{
    font-size: var(--font-size-xs);
  }

}

@media (max-width:900px) {
  /* navbar */
  .navbar ul{
    font-size: 1.2rem;
  }
  .navbar svg{
    width: 35px;
  }
  .navbar button{
    font-size: var(--font-size-xs);
  }
  .menu-icon{
    display: none;
  }
  /* About */
  .about{
    flex-direction: column;

  }
  .fill h3{
    font-family: var(--parisian);
    font-size: var(--font-size-s);
  }
  .fill h4{
    font-family: var(--mogen);
    font-size: var(--font-size-s);
  }
  .content-sign ul{
    font-size: var(--font-size-xxs);
  }
  .container-sign{
    flex-direction: column;
  }
  .card-sign{
    background-size: cover !important;
    width: 100%;
  }
  .overlay-content{
    width: 90%;
  }
  /* Location */
    .location{
      display: flex;
    }
    .location iframe{
      min-height: 300px;
    }
    .location h4{
      font-size: var(--font-size-s);
    }
    .location ul{
      font-size: var(--font-size-xs);
    }
    /* footer */
    .logo-footer .big-logo{
      width: 150px;
      height: 150px;
    }
    footer h5{
      font-size: var(--font-size-s);
    }
    footer p{
      font-size: var(--font-size-xs);
    }
     /* Room */
     .content-room-details{
      flex-direction: column;
     }
     .content-room-details img{
      height: 150px;
      object-fit: contain;
     }
     .content-room-details svg{
        width: 30px;
     }
     .amenities{
      font-size: var(--font-size-xxs);
     }
     .first-details{
      width: 100%;
    }
    .number-of-slide{
      justify-content: center;
    }

}

@media (max-width:800px) {
  .resturant{
    flex-direction: column;
  }
  .resturant-reverse{
    flex-direction: column-reverse;
  }
  
}
@media (max-width:600px) {
  .grid-gal{
    flex-direction: column;
  }
  /* Location */
  .location{
    display: flex;
    flex-direction: column-reverse;
  }
  .location iframe{
    min-height: 250px;
  }
  .first, .second , .third{
    display: none;
  }
  .first-small, .small{
    display: block;
  }
  .first-small{
    display: flex;
    justify-content: center;
  }
}
@media (max-width:500px) {
  /* navbar */
  .navbar{
    padding:0 10px;
  }
  .navbar ul{
    display: none;
    
  }
  .navbar ul.fixed-menu{
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 40;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000000e6;
    justify-content: center;
    padding: 40px 30px;
    animation: come 0.3s forwards linear;
    overflow: hidden;
  }
  .navbar ul.fixed-menu li{
    animation: appeareLi 0.3s forwards linear;
    animation-delay: 0.3s;
    opacity: 0;
  }
  @keyframes come {
    from{
      height: 0;
    }to{
      height: 250px;
    }
  }
  @keyframes appeareLi {
    from{
      opacity: 0;
    }to{
      opacity: 1;
    }
  }

  .menu-icon{
    display: flex;
  }

  .navbar svg{
    width: 25px;
  }
  .navbar button{
    font-size: var(--font-size-xs);
  } 
  .background-fixed{
    height: 50px !important;
  }
  /* Hero Section  */
  .Hero-section{
    height: 450px;
  }
  .Hero-section .full-logo{
    width: 150px;
  }
  .fill h3{
    font-family: var(--parisian);
    font-size: var(--font-size-xs);
  }
  .fill h4{
    font-family: var(--mogen);
    font-size: var(--font-size-xs);
  }

}
@media (max-width:350px) {
  
  /* Category */
  .category{
    flex-direction: column;
    justify-content: center;
  }
  .small svg.big-logo{
    width: 100px;
    height: 100px;
  }
  .icons{
    gap:5px
  }
 
}